Repository jthadison/tmt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @trading-system-team, @trading-system-lead, @qa-architect, @database-admin, @devops-team

feat: Story 11.7 - Automated Parameter Validation Pipeline (Production Ready)
  .github/workflows/validate-parameters.yml
  agents/validation-pipeline/Dockerfile
  agents/validation-pipeline/README.md
  agents/validation-pipeline/app/__init__.py
  agents/validation-pipeline/app/acceptance_validator.py
  agents/validation-pipeline/app/main.py
  agents/validation-pipeline/app/models.py
  agents/validation-pipeline/app/monte_carlo.py
  agents/validation-pipeline/app/pipeline.py
  agents/validation-pipeline/app/report_generator.py
  agents/validation-pipeline/app/stress_tester.py
  agents/validation-pipeline/requirements.txt
  agents/validation-pipeline/tests/__init__.py
  agents/validation-pipeline/tests/conftest.py
  agents/validation-pipeline/tests/test_acceptance_validator.py
  agents/validation-pipeline/tests/test_monte_carlo.py
  agents/validation-pipeline/tests/test_pipeline.py
  agents/validation-pipeline/tests/test_report_generator.py
  agents/validation-pipeline/tests/test_stress_tester.py
  docs/stories/epic-11/11.7.automated-parameter-validation-pipeline.md
  scripts/validate_parameters.py
Owners: @devops-team, @trading-system-team

fix: Improve test robustness and error handling in validation pipeline
  agents/validation-pipeline/app/pipeline.py
  agents/validation-pipeline/tests/test_pipeline.py
  agents/validation-pipeline/tests/test_report_generator.py
  docs/stories/epic-11/11.7.automated-parameter-validation-pipeline.md
Owners: @trading-system-team

Story 11.7: Automated Parameter Validation Pipeline (Production Ready) (#135)
  .github/workflows/validate-parameters.yml
  agents/validation-pipeline/Dockerfile
  agents/validation-pipeline/README.md
  agents/validation-pipeline/app/__init__.py
  agents/validation-pipeline/app/acceptance_validator.py
  agents/validation-pipeline/app/main.py
  agents/validation-pipeline/app/models.py
  agents/validation-pipeline/app/monte_carlo.py
  agents/validation-pipeline/app/pipeline.py
  agents/validation-pipeline/app/report_generator.py
  agents/validation-pipeline/app/stress_tester.py
  agents/validation-pipeline/requirements.txt
  agents/validation-pipeline/tests/__init__.py
  agents/validation-pipeline/tests/conftest.py
  agents/validation-pipeline/tests/test_acceptance_validator.py
  agents/validation-pipeline/tests/test_monte_carlo.py
  agents/validation-pipeline/tests/test_pipeline.py
  agents/validation-pipeline/tests/test_report_generator.py
  agents/validation-pipeline/tests/test_stress_tester.py
  docs/stories/epic-11/11.7.automated-parameter-validation-pipeline.md
  scripts/validate_parameters.py
Owners: @devops-team, @trading-system-team

feat: Story 11.8 - Validation Dashboard & Reporting (Production Ready)
  dashboard/.env.local.example
  dashboard/__tests__/app/api/validation/current-metrics.test.ts
  dashboard/__tests__/components/validation/AlertDashboard.test.tsx
  dashboard/__tests__/components/validation/OverfittingScoreGauge.test.tsx
  dashboard/__tests__/hooks/useValidationMetrics.test.ts
  dashboard/app/api/validation/alerts/route.ts
  dashboard/app/api/validation/current-metrics/route.ts
  dashboard/app/api/validation/parameter-history/route.ts
  dashboard/app/api/validation/report/[report_id]/route.ts
  dashboard/app/api/validation/walk-forward-reports/route.ts
  dashboard/app/validation/page.tsx
  dashboard/components/validation/AlertDashboard.tsx
  dashboard/components/validation/OverfittingScoreGauge.tsx
  dashboard/components/validation/ParameterHistoryTimeline.tsx
  dashboard/components/validation/PerformanceComparisonChart.tsx
  dashboard/components/validation/SharpeRatioTrendChart.tsx
  dashboard/components/validation/WalkForwardReportViewer.tsx
  dashboard/docs/validation-dashboard-implementation.md
  dashboard/hooks/useParameterHistory.ts
  dashboard/hooks/useValidationAlerts.ts
  dashboard/hooks/useValidationMetrics.ts
  dashboard/hooks/useWalkForwardReports.ts
  dashboard/lib/pdf-export.ts
  dashboard/package.json
  dashboard/types/validation.ts
  package-lock.json
Owners: @trading-system-team

docs: Add comprehensive QA response for Story 11.8
  dashboard/docs/story-11.8-qa-response.md
Owners: @trading-system-team

Story 11.8: Validation Dashboard & Reporting (Production Ready) (#136)
  dashboard/.env.local.example
  dashboard/__tests__/app/api/validation/current-metrics.test.ts
  dashboard/__tests__/components/validation/AlertDashboard.test.tsx
  dashboard/__tests__/components/validation/OverfittingScoreGauge.test.tsx
  dashboard/__tests__/hooks/useValidationMetrics.test.ts
  dashboard/app/api/validation/alerts/route.ts
  dashboard/app/api/validation/current-metrics/route.ts
  dashboard/app/api/validation/parameter-history/route.ts
  dashboard/app/api/validation/report/[report_id]/route.ts
  dashboard/app/api/validation/walk-forward-reports/route.ts
  dashboard/app/validation/page.tsx
  dashboard/components/validation/AlertDashboard.tsx
  dashboard/components/validation/OverfittingScoreGauge.tsx
  dashboard/components/validation/ParameterHistoryTimeline.tsx
  dashboard/components/validation/PerformanceComparisonChart.tsx
  dashboard/components/validation/SharpeRatioTrendChart.tsx
  dashboard/components/validation/WalkForwardReportViewer.tsx
  dashboard/docs/story-11.8-qa-response.md
  dashboard/docs/validation-dashboard-implementation.md
  dashboard/hooks/useParameterHistory.ts
  dashboard/hooks/useValidationAlerts.ts
  dashboard/hooks/useValidationMetrics.ts
  dashboard/hooks/useWalkForwardReports.ts
  dashboard/lib/pdf-export.ts
  dashboard/package.json
  dashboard/types/validation.ts
  package-lock.json
Owners: @trading-system-team

feat: Implement FIFO violation blocking in execution engine
  execution-engine/simple_main.py
Owners: @trading-system-lead

feat: Implement FIFO violation blocking in execution engine (#137)
  execution-engine/simple_main.py
Owners: @trading-system-lead

feat: Implement Story 12.1 - Persistent Trade History Database
  docs/stories/epic-12/12.1.persistent-trade-history-database.md
  orchestrator/.env.example
  orchestrator/app/database/__init__.py
  orchestrator/app/database/connection.py
  orchestrator/app/database/migration_manager.py
  orchestrator/app/database/migrations/001_initial.sql
  orchestrator/app/database/models.py
  orchestrator/app/database/signal_repository.py
  orchestrator/app/database/trade_repository.py
  orchestrator/app/history_routes.py
  orchestrator/app/main.py
  orchestrator/app/orchestrator.py
  orchestrator/tests/test_database_integration.py
  orchestrator/tests/test_database_performance.py
  orchestrator/tests/test_signal_repository.py
  orchestrator/tests/test_trade_repository.py
Owners: @trading-system-team, @database-admin, @trading-system-lead

feat: Implement Story 12.1 - Persistent Trade History Database (#138)
  docs/stories/epic-12/12.1.persistent-trade-history-database.md
  orchestrator/.env.example
  orchestrator/app/database/__init__.py
  orchestrator/app/database/connection.py
  orchestrator/app/database/migration_manager.py
  orchestrator/app/database/migrations/001_initial.sql
  orchestrator/app/database/models.py
  orchestrator/app/database/signal_repository.py
  orchestrator/app/database/trade_repository.py
  orchestrator/app/history_routes.py
  orchestrator/app/main.py
  orchestrator/app/orchestrator.py
  orchestrator/tests/test_database_integration.py
  orchestrator/tests/test_database_performance.py
  orchestrator/tests/test_signal_repository.py
  orchestrator/tests/test_trade_repository.py
Owners: @trading-system-team, @database-admin, @trading-system-lead

feat: Implement Story 12.2 - Performance Analytics Dashboard
  dashboard/app/analytics/page.tsx
  dashboard/components/analytics/ConfidenceCorrelationChart.tsx
  dashboard/components/analytics/DrawdownChart.tsx
  dashboard/components/analytics/ParameterEvolutionTimeline.tsx
  dashboard/components/analytics/PatternPerformanceCard.test.tsx
  dashboard/components/analytics/PatternPerformanceCard.tsx
  dashboard/components/analytics/PnLByPairChart.tsx
  dashboard/components/analytics/SessionPerformanceCard.test.tsx
  dashboard/components/analytics/SessionPerformanceCard.tsx
  dashboard/hooks/useAnalytics.ts
  dashboard/hooks/useAnalyticsWebSocket.ts
  dashboard/lib/analyticsClient.test.ts
  dashboard/lib/analyticsClient.ts
  dashboard/types/analytics122.ts
  orchestrator/app/analytics/__init__.py
  orchestrator/app/analytics/performance_calculator.py
  orchestrator/app/analytics_routes.py
Owners: @trading-system-team

fix: Apply QA critical fixes for Story 12.2
  orchestrator/app/database/connection.py
  orchestrator/app/main.py
Owners: @trading-system-team

feat: Implement Story 13.1 - Autonomous Learning Loop with Performance Analyzer
  .env.example
  agents/learning-safety/README.md
  agents/learning-safety/app/audit_logger.py
  agents/learning-safety/app/autonomous_learning_loop.py
  agents/learning-safety/app/main.py
  agents/learning-safety/app/models/__init__.py
  agents/learning-safety/app/models/performance_models.py
  agents/learning-safety/app/performance_analyzer.py
  agents/learning-safety/tests/test_audit_logger.py
  agents/learning-safety/tests/test_autonomous_learning_loop.py
  agents/learning-safety/tests/test_learning_cycle_integration.py
  agents/learning-safety/tests/test_performance_analyzer.py
  docs/stories/epic-13/13.1.autonomous-learning-loop-performance-analyzer.md
Owners: @trading-system-team

feat: Implement Story 13.1 - Autonomous Learning Loop with Performance Analyzer (#139)
  .env.example
  agents/learning-safety/README.md
  agents/learning-safety/app/audit_logger.py
  agents/learning-safety/app/autonomous_learning_loop.py
  agents/learning-safety/app/main.py
  agents/learning-safety/app/models/__init__.py
  agents/learning-safety/app/models/performance_models.py
  agents/learning-safety/app/performance_analyzer.py
  agents/learning-safety/tests/test_audit_logger.py
  agents/learning-safety/tests/test_autonomous_learning_loop.py
  agents/learning-safety/tests/test_learning_cycle_integration.py
  agents/learning-safety/tests/test_performance_analyzer.py
  docs/stories/epic-13/13.1.autonomous-learning-loop-performance-analyzer.md
Owners: @trading-system-team

feat: Implement Story 13.2 - Parameter Suggestion Engine & Shadow Testing Framework
  agents/learning-safety/app/api_routes.py
  agents/learning-safety/app/autonomous_learning_loop.py
  agents/learning-safety/app/models/suggestion_models.py
  agents/learning-safety/app/parameter_optimizer.py
  agents/learning-safety/app/shadow_tester.py
  agents/learning-safety/requirements.txt
  agents/learning-safety/tests/test_parameter_suggestion_engine.py
  agents/learning-safety/tests/test_shadow_tester.py
  agents/learning-safety/tests/test_shadow_testing_integration.py
  docs/stories/epic-13/13.2.parameter-suggestion-engine-shadow-testing.md
  orchestrator/app/database/migrations/002_add_shadow_tests.sql
  orchestrator/app/database/models.py
  orchestrator/app/database/shadow_test_repository.py
Owners: @trading-system-team, @database-admin, @trading-system-lead

feat: Implement Story 13.3 - Auto-Deployment System & CI Pipeline Activation
  .env.example
  agents/continuous-improvement/app/api_routes.py
  agents/continuous-improvement/app/main.py
  agents/learning-safety/app/approval_workflow.py
  agents/learning-safety/app/auto_deployment.py
  agents/learning-safety/app/models/deployment_models.py
  dashboard/app/page.tsx
  dashboard/components/learning/LearningStatusCard.tsx
  dashboard/hooks/useActiveTests.ts
  dashboard/hooks/useCIPipelineStatus.ts
  dashboard/hooks/useEmergencyStopCI.ts
  dashboard/hooks/useLearningStatus.ts
  dashboard/hooks/usePendingSuggestions.ts
  orchestrator/app/database/approval_repository.py
  orchestrator/app/database/migrations/003_extend_parameter_history.sql
  orchestrator/app/database/models.py
  orchestrator/app/database/parameter_history_repository.py
  orchestrator/app/main.py
  orchestrator/app/parameter_routes.py
Owners: @trading-system-team, @database-admin, @trading-system-lead

feat: Implement Story 13.3 - Auto-Deployment System & CI Pipeline Activation (#140)
  .env.example
  agents/continuous-improvement/app/api_routes.py
  agents/continuous-improvement/app/main.py
  agents/learning-safety/app/approval_workflow.py
  agents/learning-safety/app/auto_deployment.py
  agents/learning-safety/app/models/deployment_models.py
  dashboard/app/page.tsx
  dashboard/components/learning/LearningStatusCard.tsx
  dashboard/hooks/useActiveTests.ts
  dashboard/hooks/useCIPipelineStatus.ts
  dashboard/hooks/useEmergencyStopCI.ts
  dashboard/hooks/useLearningStatus.ts
  dashboard/hooks/usePendingSuggestions.ts
  orchestrator/app/database/approval_repository.py
  orchestrator/app/database/migrations/003_extend_parameter_history.sql
  orchestrator/app/database/models.py
  orchestrator/app/database/parameter_history_repository.py
  orchestrator/app/main.py
  orchestrator/app/parameter_routes.py
Owners: @trading-system-team, @database-admin, @trading-system-lead

.github/CODEOWNERS:

# Code Owners for Trading System
#
# These owners will be requested for review when someone opens a pull request.
#
# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @trading-system-team

# Configuration changes require two-person approval
config/parameters/*.yaml @trading-system-lead @qa-architect

# Critical trading components require lead approval
agents/circuit-breaker/** @trading-system-lead
agents/risk-management/** @trading-system-lead
execution-engine/** @trading-system-lead

# Configuration manager requires QA approval
agents/config-manager/** @qa-architect @trading-system-lead

# Database migrations require DBA approval
**/migrations/** @database-admin @trading-system-lead

# Infrastructure changes require DevOps approval
docker-compose*.yml @devops-team
.github/workflows/** @devops-team
kubernetes/** @devops-team

# Documentation can be approved by any team member
docs/** @trading-system-team
*.md @trading-system-team
